@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: all 0.2s ease;
}

body {
  display: block;
  place-items: initial;
}

:root {
  --mainColor: #e4e4e4;
  --navColor: #ffffff;
  --textColor: #303030;
}

.dark-theme {
  --mainColor: #121212;
  --navColor: #000000;
  --textColor: #dedede;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
}