.main-container {
    background-color: var(--mainColor);
  }

  .main-container > .profile-container {
    display: flex;
  }

  .main-container > .profile-container > .profile {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    color: var(--textColor);
    background: var(--mainColor);
    padding: 160px 20px 160px 0px;
  }

  .main-container > .profile-container > .profile > img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
  }

  .main-container > .profile-container > .profile-content {
    width: 50%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: var(--textColor);
    background: var(--mainColor);
    -webkit-user-select: none;
    -moz-user-select: none;
         user-select: none;
  }

  .main-container > .profile-container > .profile-content > div:nth-child(1) > div:nth-child(1) {
    height: 40px;
    font-size: 45px;
    font-weight: 500;
  }

  .main-container > .profile-container > .profile-content > div:nth-child(1) > div:nth-child(2) {
    font-size: 80px;
    font-weight: 500;
  }

  .main-container > .profile-container > .profile-content > div:nth-child(1) > .socmed-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
  }

  .main-container > .profile-container > .profile-content > div:nth-child(1) > .socmed-icons > a {
    padding: 0px 20px 0px 20px;
  }

  .main-container > .profile-container > .profile-content > div:nth-child(1) > .socmed-icons > a:hover {
    transform: scale(0.92);
  }

  .main-container > .profile-container > .profile-content > div:nth-child(1) > .socmed-icons > a > img {
    width: 64px;
  }

  /* About Me */

  .main-container > .about-me {
    color: var(--mainColor);
    background: var(--textColor);
    height: 100vh;
  }

  .main-container > .about-me > h1 {
    font-size: 80px;
    font-weight: 500;
    padding: 50px 0px 30px 50px;
  }

  .main-container > .about-me > p {
    font-size: 24px;
    font-weight: 500;
    padding: 0px 50px 50px 50px;
  }

  .main-container > .about-me > .tech-stacks {
    display: flex;
  }

  .main-container > .about-me > .tech-stacks > .frontend-stack{
    display: flex;
    background: var(--textColor);
    align-items: center;
    padding: 0px 0px 0px 40px;
    width: 50%;
  }

  .main-container > .about-me > .tech-stacks > .frontend-stack >  h2 {
    font-size: 32px;
    font-weight: 500;
    padding: 0px 0px 0px 10px;
  }

  .main-container > .about-me > .tech-stacks > .frontend-stack > ul{
    display: flex;
    padding: 0px 0px 0px 20px;
  }

  .main-container > .about-me > .tech-stacks > .frontend-stack > ul > li > img {
    height: 60px;
  }

  .main-container > .about-me > .tech-stacks > .frontend-stack > ul > li:nth-child(4) > img {
    height: 60px;
    width: 60px;
    padding: 4px;
  }

  .main-container > .about-me > .tech-stacks > .backend-stack{
    display: flex;
    background: var(--textColor);
    align-items: center;
    padding: 0;
    width: 50%;
  }

  .main-container > .about-me > .tech-stacks > .backend-stack >  h2 {
    font-size: 32px;
    font-weight: 500;
    padding: 0px 0px 0px 10px;
  }

  .main-container > .about-me > .tech-stacks > .backend-stack > ul{
    display: flex;
    padding: 0px 0px 0px 28px;
  }

  .main-container > .about-me > .tech-stacks > .backend-stack > ul > li > img {
    height: 60px;
  }

  .main-container > .about-me > .tech-stacks > .backend-stack > ul > li:nth-child(1) > img {
    height: 60px;
    width: 60px;
  }

  .main-container > .about-me > .tech-stacks > .backend-stack > ul > li:nth-child(2) > img {
    height: 60px;
    width: 60px;
    border-radius: 30px;
    padding: 6px;
  }

  .main-container > .about-me > .tech-stacks > .backend-stack > ul > li:nth-child(4) > img {
    height: 60px;
    padding: 6px;
  }

  .main-container > .about-me > .tech-stacks > .backend-stack > ul > li:nth-child(5) > img {
    height: 60px;
    padding: 20px 10px;
  }

  .main-container > .about-me > .tech-stacks-two {
    display: flex;
  }

  .main-container > .about-me > .tech-stacks-two > .database-stack {
    display: flex;
    background: var(--textColor);
    align-items: center;
    padding: 0px 0px 0px 40px;
    width: 50%;
  }

  .main-container > .about-me > .tech-stacks-two > .database-stack > h2 {
    font-size: 32px;
    font-weight: 500;
    padding: 0px 0px 0px 10px;
  }

  .main-container > .about-me > .tech-stacks-two > .database-stack > ul {
    display: flex;
    padding: 0px 0px 0px 20px;
  }

  .main-container > .about-me > .tech-stacks-two > .database-stack > ul > li > img {
    height: 60px;
  }

  .main-container > .about-me > .tech-stacks-two > .database-stack > ul > li:nth-child(1) > img {
    height: 50px;
    width: 95px;
    padding: 5px;
  }

  .main-container > .about-me > .tech-stacks-two > .database-stack > ul > li:nth-child(2) > img {
    height: 50px;
    width: 70px;
  }

  .main-container > .about-me > .tech-stacks-two > .database-stack > ul > li:nth-child(3) > img {
    height: 45px;
    padding: 15px 0 0 0;
  }

  .main-container > .about-me > .tech-stacks-two > .dev-tools-stack {
    display: flex;
    background: var(--textColor);
    align-items: center;
    padding: 0;
    width: 50%;

  }

  .main-container > .about-me > .tech-stacks-two > .dev-tools-stack > h2{
    font-size: 30px;
    font-weight: 500;
    padding: 0px 0px 0px 10px;
  }

  .main-container > .about-me > .tech-stacks-two > .dev-tools-stack > ul{
    display: flex;
    padding: 0px 0px 0px 20px;
  }

  .main-container > .about-me > .tech-stacks-two > .dev-tools-stack > ul > li > img {
    height: 60px;
    padding: 5px;
  }

  @media only screen and (max-width: 1024px) {
    .main-container > .about-me {
      height: 145vh;
    }

    .main-container > .about-me > .tech-stacks {
      display: inline;
    }

    .main-container > .about-me > .tech-stacks > .frontend-stack{
      display: flex;
      background: var(--textColor);
      align-items: center;
      padding: 0px 0px 0px 40px;
      width: 100%;
    }

    .main-container > .about-me > .tech-stacks > .backend-stack{
      display: flex;
      background: var(--textColor);
      align-items: center;
      padding: 0px 0px 0px 40px;
      width: 100%;
    }

    .main-container > .about-me > .tech-stacks-two {
      display: inline;
    }

    .main-container > .about-me > .tech-stacks-two > .database-stack{
      display: flex;
      background: var(--textColor);
      align-items: center;
      padding: 0px 0px 0px 40px;
      width: 100%;
    }

    .main-container > .about-me > .tech-stacks-two > .dev-tools-stack{
      display: flex;
      background: var(--textColor);
      align-items: center;
      padding: 0px 0px 0px 40px;
      width: 100%;
    }


    .main-container > .about-me > .tech-stacks > .frontend-stack > h2 {
      font-size: 28px;
    }
    .main-container > .about-me > .tech-stacks > .backend-stack > h2 {
      font-size: 28px;
    }
    .main-container > .about-me > .tech-stacks-two > .database-stack > h2 {
      font-size: 28px;
    }
    .main-container > .about-me > .tech-stacks-two > .dev-tools-stack > h2 {
      font-size: 26px;
    }
  }

  @media only screen and (max-width: 768px) {
    .main-container > .profile-container {
        display: inline;
      }

      .main-container > .profile-container > .profile {
        display: flex;
        height: 50vh;
        width: 100vw;
        justify-content: center;
        color: var(--textColor);
        background: var(--mainColor);
        padding: 70px 0px 30px 0px;
      }

      .main-container > .profile-container > .profile > img {
        width: 270px;
        height: 270px;
      }

      .main-container > .profile-container > .profile-content {
        width: 100vw;
        height: 50vh;
        padding: 0;
        display: flex;
        align-items: start;
        justify-content: center;
        color: var(--textColor);
        background: var(--mainColor);
        -webkit-user-select: none;
        -moz-user-select: none;
             user-select: none;
      }

      .main-container > .profile-container > .profile-content > div:nth-child(1) > div:nth-child(1) {
        height: 36px;
        font-size: 36px;
      }

      .main-container > .profile-container > .profile-content > div:nth-child(1) > div:nth-child(2) {
        font-size: 56px;
        font-weight: 500;
      }

      .main-container > .profile-container > .profile-content > div:nth-child(1) > .socmed-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;
      }

      .main-container > .profile-container > .profile-content > div:nth-child(1) > .socmed-icons > a {
        padding: 0px 20px 0px 20px;
      }

      .main-container > .profile-container > .profile-content > div:nth-child(1) > .socmed-icons > a:hover {
        transform: scale(0.92);
      }

      .main-container > .profile-container > .profile-content > div:nth-child(1) > .socmed-icons > a > img {
        width: 66px;
      }

      .main-container > .about-me {
        color: var(--mainColor);
        background: var(--textColor);
        width: 100vw;
        height: 110vh;
      }

      .main-container > .about-me > h1 {
        font-size: 50px;
        font-weight: 500;
        padding: 50px 0px 30px 30px;
      }

      .main-container > .about-me > p {
        font-size: 18px;
        font-weight: 500;
        padding: 0px 50px 50px 30px;
      }

      .main-container > .about-me > .tech-stacks {
        display: inline;
      }

      .main-container > .about-me > .tech-stacks > .frontend-stack{
        display: flex;
        background: var(--textColor);
        align-items: center;
        padding: 0px 0px 0px 20px;
        width: 100%;
      }

      .main-container > .about-me > .tech-stacks > .frontend-stack >  h2 {
        font-size: 26px;
        font-weight: 500;
        padding: 0px 0px 0px 10px;
      }

      .main-container > .about-me > .tech-stacks > .frontend-stack > ul{
        display: flex;
      }

      .main-container > .about-me > .tech-stacks > .frontend-stack > ul > li > img {
        height: 48px;
      }

      .main-container > .about-me > .tech-stacks > .frontend-stack > ul > li:nth-child(4) > img {
        height: 48px;
        width: 48px;
        padding: 4px;
      }

      .main-container > .about-me > .tech-stacks > .backend-stack{
        display: flex;
        background: var(--textColor);
        align-items: center;
        padding: 0px 0px 0px 20px;
        width: 100%;
      }

      .main-container > .about-me > .tech-stacks > .backend-stack >  h2 {
        font-size: 26px;
        font-weight: 500;
        padding: 0px 0px 0px 10px;
      }

      .main-container > .about-me > .tech-stacks > .backend-stack > ul{
        display: flex;
      }

      .main-container > .about-me > .tech-stacks > .backend-stack > ul > li > img {
        height: 48px;
      }

      .main-container > .about-me > .tech-stacks > .backend-stack > ul > li:nth-child(1) > img {
        height: 48px;
        width: 48px;
      }

      .main-container > .about-me > .tech-stacks > .backend-stack > ul > li:nth-child(2) > img {
        height: 48px;
        width: 48px;
        border-radius: 30px;
        padding: 6px;
      }

      .main-container > .about-me > .tech-stacks > .backend-stack > ul > li:nth-child(4) > img {
        height: 50px;
        padding: 4px;
      }

      .main-container > .about-me > .tech-stacks-two {
        display: inline;
      }

      .main-container > .about-me > .tech-stacks-two > .database-stack {
        display: flex;
        background: var(--textColor);
        align-items: center;
        padding: 0px 0px 0px 20px;
        width: 100%;
      }

      .main-container > .about-me > .tech-stacks-two > .database-stack > h2 {
        font-size: 26px;
        font-weight: 500;
        padding: 0px 0px 0px 10px;
      }

      .main-container > .about-me > .tech-stacks-two > .database-stack > ul {
        display: flex;
      }

      .main-container > .about-me > .tech-stacks-two > .database-stack > ul > li > img {
        height: 60px;
      }

      .main-container > .about-me > .tech-stacks-two > .database-stack > ul > li:nth-child(1) > img {
        height: 40px;
        width: 75px;
        padding: 5px;
      }

      .main-container > .about-me > .tech-stacks-two > .database-stack > ul > li:nth-child(2) > img {
        height: 40px;
        width: 60px;
      }

      .main-container > .about-me > .tech-stacks-two > .database-stack > ul > li:nth-child(3) > img {
        height: 40px;
        padding: 5px 0 0 0;
      }

      .main-container > .about-me > .tech-stacks-two > .dev-tools-stack {
        display: flex;
        background: var(--textColor);
        align-items: center;
        padding: 0px 0px 0px 20px;
        width: 100%;
      }

      .main-container > .about-me > .tech-stacks-two > .dev-tools-stack > h2{
        font-size: 20px;
        font-weight: 500;
        padding: 0px 0px 0px 10px;
      }

      .main-container > .about-me > .tech-stacks-two > .dev-tools-stack > ul{
        display: flex;
      }

      .main-container > .about-me > .tech-stacks-two > .dev-tools-stack > ul > li > img {
        height: 48px;
        padding: 5px;
      }
  }

  @media only screen and (max-width: 426px) {
    .main-container > .about-me {
      height: 200vh;
    }

    .main-container > .about-me > .tech-stacks > .frontend-stack{
        display: inline;
    }

    .main-container > .about-me > .tech-stacks > .frontend-stack >  h2 {
        font-size: 20px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .main-container > .about-me > .tech-stacks > .frontend-stack > ul{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .main-container > .about-me > .tech-stacks > .frontend-stack > ul > li > img {
        height: 40px;
    }

    .main-container > .about-me > .tech-stacks > .frontend-stack > ul > li:nth-child(4) > img {
        height: 40px;
        width: 40px;
        padding: 4px;
    }

    .main-container > .about-me > .tech-stacks > .backend-stack {
        display: inline;
    }

    .main-container > .about-me > .tech-stacks > .backend-stack >  h2 {
        font-size: 20px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .main-container > .about-me > .tech-stacks > .backend-stack > ul{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .main-container > .about-me > .tech-stacks > .backend-stack > ul > li > img {
        height: 40px;
    }

    .main-container > .about-me > .tech-stacks > .backend-stack > ul > li:nth-child(1) > img {
        height: 40px;
        width: 40px;
    }

    .main-container > .about-me > .tech-stacks > .backend-stack > ul > li:nth-child(2) > img {
        height: 40px;
        width: 40px;
        border-radius: 30px;
        padding: 4px;
    }

    .main-container > .about-me > .tech-stacks > .backend-stack > ul > li:nth-child(4) > img {
        height: 40px;
        padding: 4px 0 0 4px;
    }

    .main-container > .about-me > .tech-stacks-two > .database-stack {
        display: inline;
    }

    .main-container > .about-me > .tech-stacks-two > .database-stack > h2 {
        font-size: 20px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .main-container > .about-me > .tech-stacks-two > .database-stack > ul {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .main-container > .about-me > .tech-stacks-two > .database-stack > ul > li > img {
        height: 40px;
    }

    .main-container > .about-me > .tech-stacks-two > .database-stack > ul > li:nth-child(1) > img {
        height: 40px;
        width: 75px;
        padding: 5px;
    }

    .main-container > .about-me > .tech-stacks-two > .database-stack > ul > li:nth-child(2) > img {
        height: 40px;
        width: 60px;
    }

    .main-container > .about-me > .tech-stacks-two > .database-stack > ul > li:nth-child(3) > img {
        height: 40px;
        padding: 10px 0 5px 0;
    }

      .main-container > .about-me > .tech-stacks-two > .dev-tools-stack {
        display: inline;
    }

    .main-container > .about-me > .tech-stacks-two > .dev-tools-stack > h2{
        font-size: 20px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .main-container > .about-me > .tech-stacks-two > .dev-tools-stack > ul{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .main-container > .about-me > .tech-stacks-two > .dev-tools-stack > ul > li > img {
        height: 40px;
        padding: 5px;
    }
  }

  @media only screen and (max-width: 376px) {
    .main-container > .profile-container > .profile > img {
        width: 220px;
        height: 220px;
      }

    .main-container > .profile-container > .profile-content {
        width: 100vw;
        height: 50vh;
        padding: 0px 10px 0px 10px;
        display: flex;
        align-items: start;
        justify-content: center;
        color: var(--textColor);
        background: var(--mainColor);
        -webkit-user-select: none;
        -moz-user-select: none;
             user-select: none;
    }

    .main-container > .profile-container > .profile-content > div:nth-child(1) > div:nth-child(1) {
        height: 30px;
        font-size: 30px;
    }

    .main-container > .profile-container > .profile-content > div:nth-child(1) > div:nth-child(2) {
        font-size: 46px;
    }

    .main-container > .profile-container > .profile-content > div:nth-child(1) > .socmed-icons > a:hover {
        transform: scale(0.92);
    }

    .main-container > .about-me {
        height: 170vh;
    }

    .main-container > .about-me > h1 {
        font-size: 40px;
        font-weight: 500;
        padding: 40px 0px 20px 30px;
    }
    .main-container > .about-me > p {
        font-size: 16px;
        font-weight: 500;
        padding: 0px 50px 0px 30px;
    }

    .main-container > .about-me > .tech-stacks > .frontend-stack{
        display: inline;
    }

    .main-container > .about-me > .tech-stacks > .frontend-stack >  h2 {
        font-size: 20px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .main-container > .about-me > .tech-stacks > .frontend-stack > ul{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .main-container > .about-me > .tech-stacks > .frontend-stack > ul > li > img {
        height: 40px;
    }

    .main-container > .about-me > .tech-stacks > .frontend-stack > ul > li:nth-child(4) > img {
        height: 40px;
        width: 40px;
        padding: 4px;
    }

    .main-container > .about-me > .tech-stacks > .backend-stack {
        display: inline;
    }

    .main-container > .about-me > .tech-stacks > .backend-stack >  h2 {
        font-size: 20px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .main-container > .about-me > .tech-stacks > .backend-stack > ul{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .main-container > .about-me > .tech-stacks > .backend-stack > ul > li > img {
        height: 40px;
    }

    .main-container > .about-me > .tech-stacks > .backend-stack > ul > li:nth-child(1) > img {
        height: 40px;
        width: 40px;
    }

    .main-container > .about-me > .tech-stacks > .backend-stack > ul > li:nth-child(2) > img {
        height: 40px;
        width: 40px;
        border-radius: 30px;
        padding: 4px;
    }

    .main-container > .about-me > .tech-stacks-two > .database-stack {
        display: inline;
    }

    .main-container > .about-me > .tech-stacks-two > .database-stack > h2 {
        font-size: 20px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .main-container > .about-me > .tech-stacks-two > .database-stack > ul {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .main-container > .about-me > .tech-stacks-two > .database-stack > ul > li > img {
        height: 40px;
    }

    .main-container > .about-me > .tech-stacks-two > .database-stack > ul > li:nth-child(1) > img {
        height: 40px;
        width: 75px;
        padding: 5px;
    }

    .main-container > .about-me > .tech-stacks-two > .database-stack > ul > li:nth-child(2) > img {
        height: 40px;
        width: 60px;
    }

      .main-container > .about-me > .tech-stacks-two > .dev-tools-stack {
        display: inline;
    }

    .main-container > .about-me > .tech-stacks-two > .dev-tools-stack > h2{
        font-size: 20px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .main-container > .about-me > .tech-stacks-two > .dev-tools-stack > ul{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .main-container > .about-me > .tech-stacks-two > .dev-tools-stack > ul > li > img {
        height: 40px;
        padding: 5px;
    }
  }

  @media only screen and (max-width: 321px) {
    .main-container > .about-me {
        height: 200vh;
    }
  }