.nav-header {
    display: flex;
    background: var(--navColor);
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 999;
}

.nav-header > a {
    color: var(--textColor);
    font-size: 28px;
    font-weight: 500;
    padding: 5px 0px 5px 70px;
}

.nav-header > ul {
    display: flex;
    font-size: 20px;
    place-items: center;
}

.nav-header > ul > li > a {
    padding: 0;
    margin: 0;
    color: var(--textColor);
}

.nav-header > ul > li:nth-child(1) > a:hover {
    background: var(--mainColor);
    box-shadow: 0 0 0 12px var(--mainColor)
}

.nav-header > ul > li:nth-child(2) {
    padding: 5px 70px 5px 50px;
}

.nav-header > ul > li:nth-child(2) > a {
    display: flex;
}

.nav-header > ul > li:nth-child(2) > a > span {
    color: var(--textColor);
    font-size: 30px;
    border-radius: 50px;
}

.nav-header > ul > li:nth-child(2) > a > span:hover {
    background: var(--mainColor);
    box-shadow: 0 0 0 6px var(--mainColor);
}

@media only screen and (max-width: 426px) {
    .nav-header > a {
        font-size: 20px;
        padding: 15px 20px 15px 20px;
    }

    .nav-header > ul > li:nth-child(2) {
        padding: 15px 20px 15px 30px;
    }

    .nav-header > ul {
        font-size: 18px;
    }
}

@media only screen and (max-width: 376px) {
    .nav-header > a {
        font-size: 18px;
        padding: 15px 20px 15px 20px; /*Top Right Down Left*/
    }

    .nav-header > ul > li:nth-child(2) {
        padding: 15px 20px 15px 30px;
    }

    .nav-header > ul {
        font-size: 16px;
    }

    .nav-header > ul > li:nth-child(2) > a > span {
        font-size: 24px;
    }
}