.projects-page {
    padding: 20px;
    text-align: center;
    background: var(--mainColor);
  }

  .projects-page > h1 {
    color: var(--textColor);
    font-weight: 500;
    font-size: 40px;
    padding: 10px 0px 20px 0px;
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .project-card {
    background: var(--navColor);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: left;
    transition: transform 0.3s ease;
  }
  
  .project-card:hover {
    transform: scale(1.05);
  }
  
  .project-image {
    cursor: pointer;
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .project-info {
    padding: 15px;
  }
  
  .project-info h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--textColor);
  }
  
  .project-info p {
    font-size: 1rem;
    color: var(--textColor);
  }
  
  .tech-stack {
    margin-top: 10px;
  }
  
  .tech-badge {
    background-color: #007BFF;
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.875rem;
    margin-right: 8px;
  }

  .project-buttons {
    margin-top: 15px;
  }
  
  .project-buttons .btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .project-buttons .live-btn {
    background-color: #28a745;
    color: #fff;
  }
  
  .project-buttons .github-btn {
    background-color: var(--textColor);
    color: var(--mainColor);
  }
  
  .project-buttons .btn:hover {
    transform: scale(1.05);
  }
  
  .project-buttons .live-btn:hover {
    background-color: #218838;
  }
  
  .project-buttons .github-btn:hover {
    background-color: var(--mainColor);
    color: var(--textColor);
  }